

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #009688;
    --md-code-hl-number-color: #c5595e;
    --md-code-hl-string-color: #c5595e;
}

/* Change the color of H2 headings */
.md-typeset h2 {
  color: #000000;
    font-size: xx-large;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
