
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #009688;
    --md-code-hl-number-color: #c5595e;
    --md-code-hl-string-color: #c5595e;
    --md-category-headings-color: #000000;
    --md-doc-heading-color: #000000;
    --md-doc-heading-fm: #000000;
    --md-doc-heading-p: #000000;
    --md-doc-desc-color: #000000;
    --md-section-title-color: #000000;
    --md-section-desc-color: #000000;
    --md-inline-code-color: #000000;
    --md-default-value-color: #c5595e;
}

/* Change the color of category headings */
.md-typeset h2 {
  color: var(--md-category-headings-color);
    font-size: xx-large;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

/*!* I don't know what this is *!*/
.md-typeset h5.doc.doc-heading {
  color: var(--md-doc-heading-color);
}

.md-typeset h5.doc.doc-heading code.highlight,
.md-typeset h5.doc.doc-heading code {
  color: inherit;
}

/* Styling for function / method names */
.md-typeset h5.doc.doc-heading code .fm {
  color: var(--md-doc-heading-fm) !important;
}
.md-typeset h5.doc.doc-heading code .p {
  color: var(--md-doc-heading-p) !important;
}

/*!* Description blocks under the heading *!*/
.md-typeset h5.doc.doc-heading + .doc.doc-contents,
.md-typeset h5.doc.doc-heading ~ .doc.doc-contents {
  color: var(--md-doc-desc-color) !important;
  font-size: 0.6rem;
  line-height: 1.45;
}
.md-typeset h5.doc.doc-heading + .doc.doc-contents .doc-md-description,
.md-typeset h5.doc.doc-heading ~ .doc.doc-contents .doc-md-description {
  color: var(--md-doc-desc-color) !important;
}

/*!* Section titles like "Returns:" *!*/
.md-typeset h5.doc.doc-heading + .doc.doc-contents .doc-section-title,
.md-typeset h5.doc.doc-heading ~ .doc.doc-contents .doc-section-title {
  color: var(--md-section-title-color) !important;
  font-weight: 600;
}

/*!* Section item body (paragraph under list item) *!*/
.md-typeset h5.doc.doc-heading + .doc.doc-contents .doc-section-item .doc-md-description,
.md-typeset h5.doc.doc-heading ~ .doc.doc-contents .doc-section-item .doc-md-description {
  color: var(--md-section-desc-color) !important;
}

/*!* Inline code inside the description *!*/
.md-typeset h5.doc.doc-heading + .doc.doc-contents code,
.md-typeset h5.doc.doc-heading ~ .doc.doc-contents code {
  color: var(--md-inline-code-color) !important;
}
